
.desktop-background-wrapper {
  background: var(--color-dark-bg, #0F0B17);
  border-radius: 0 0 $radius $radius;
  overflow: hidden;
  position: relative;
  padding: 0;
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
  @include media-breakpoint-down(lg) {
    border-radius: 0 0 80px 80px;
  }
  @include media-breakpoint-down(md) {
    &__background {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    border-radius: 0 0 24px 24px;
  }
}

.home {
  //border-bottom: 1px solid #7C7878;
  position: relative;
  z-index: 2;
  color: #fff;
  overflow: hidden;
  padding: 0;
  &-mobile-play {
    display: none;
  }
  &__mobile-background {
    display: none;
  }
  &-background-video {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__wrap {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
      }
    }
    &__element {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__vertical-line {
    z-index: 2;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.075);
    display: none;
  }
  &__container {
    height: calc(100vh + 1px);
    min-height: 820px;
    max-height: 1100px;
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
  }
  &-logo {
    width: 310px;
    height: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 0 0 45px 0;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 100%;
      pointer-events: none;
    }
    &::before {
      width: calc(100% - 22px);
      height: calc(100% - 22px);
      left: 11px;
      top: 11px;
    }
    &:after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__image {
      width: 120px;
      height: 90px;
      margin: 0 0 30px 0;
    }
    &__circle {
      position: absolute;
      display: block;
      width: 330px;
      height: 330px;
      left: -10px;
      top: -10px;
      stroke: rgba(255, 255, 255, 0.25);
      fill: none;
      stroke-width: 10px;
      transform: rotate(-90deg);
    }
    &__title {
      line-height: 1;
      font-size: 28px;
      text-transform: uppercase;
      margin: 0 0 2px 0;
      color: inherit;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
    &__text {
      font-size: 10px;
      font-weight: 500;
    }
  }
  &__title {
    color: inherit;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  &__text {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
    &_mobile {
      display: none;
    }
  }
  &__button {
    width: 286px;
    margin: 50px 0 0 0;
  }
  @include media-breakpoint-up(xxl) {
    &__text {
      br {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      min-height: 620px;
      max-height: 1000px;
    }
    &__button {
      margin-top: 40px;
    }
    &-logo {
      width: 220px;
      height: 220px;
      padding-bottom: 10px;
      margin: 0 0 35px 0;
      &__image {
        width: 100px;
        height: 75px;
        margin: 0 0 20px 0;
      }
      &__title {
        font-size: 20px;
      }
      &__circle {
        width: 234px;
        height: 234px;
        top: -7px;
        left: -7px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    border-bottom: none;
    &__container {
      padding-top: 80px;
      padding-bottom: 60px;
      min-height: 660px;
    }
    &-logo, 
    &-background-video,
    &__vertical-line {
      display: none;
    }
    &-mobile-play {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 200px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      margin-bottom: 45px;
      display: flex;
      position: relative;
      margin: auto;
      &.touch, &.hover {
        &:before {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 184px;
        height: 184px;
        border-radius: 184px;
        top: 7px;
        left: 7px;
        transition: background-color $trs1;
        border: inherit;
      }
      .icon {
        width: 45px;
        height: 45px;
        margin: auto;
        color: #fff;
        transform: translateX(4px);
      }
    }
    &__button {
      width: 260px;
      margin-top: 45px;
    }
    &__text {
      &_desktop {
        display: none;
      }
      &_mobile {
        display: block;
      }
    }
    &__mobile-background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border-radius: 0 0 24px 24px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #343434 47.4%, rgba(52, 52, 52, 0) 124.85%);
        opacity: 0.65;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding-bottom: 40px;
      min-height: 620px;
      max-height: 700px;
    }
    &__button {
      width: 100%;
      max-width: calc(100% - 48px);
    }
    &-mobile-play {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      &:before {
        width: 134px;
        height: 134px;
        border-radius: 134px;
      }
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.home-dots {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 50;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  &__link {
    text-decoration: none;
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    color: inherit;
    color: #000;
    transition: color $trs1;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      position: absolute;
      line-height: 1;
      white-space: nowrap;
      right: 100%;
      top: 0;
      line-height: 28px;
      padding-right: 15px;
      font-weight: 500;
      font-size: 1rem;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-5px);
      transition: opacity $trs1, visibility $trs1, transform $trs1;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 100%;
      border: 1px solid #000;
      z-index: 1;
      opacity: 0;
      transition: opacity $trs1, transform $trs1, border-color $trs1;
    }
    &:after {
      content: '';
      display: block;
      background-color: #000;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      margin: auto;
      transition: background-color $trs1, transform $trs1;
      z-index: 2;
    }
    &.touch, &.hover, &.active {
      &:before {
        opacity: 1;
        transform: scale(1);
      }
      span {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
      }
    }
    &.reversed {
      color: #fff;
      &::before {
        border-color: #fff;
      }
      &:after {
        background-color: #fff;
      }
    }
    &.active {
      &:after {
        background-color: var(--color-accent) !important;
        transform: scale(1.25);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    right: 24px;
    &__link {
      width: 24px;
      height: 24px;
      span {
        line-height: 24px;
        font-size: 0.875rem;
        padding-right: 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}


.about {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  &__container {
    position: relative;
    z-index: 2;
    padding-top: 550px;
  }
  &__text-image {
    position: absolute;
    z-index: 2;
    opacity: 0.4;
    color: #717171;
    height: 100px;
    opacity: 0;
    filter: blur(100px);
    transform: scale(1.5) translateY(100px);
    transition: opacity $trs3, filter $trs3out, transform $trs3out;
    &_1 {
      top: 155px;
      left: 170px;
    }
    &_2 {
      right: 170px;
      top: 305px;
    }
    &.animated {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1) translateY(0);
    }
  }
  &__logo {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 500px;
    opacity: 0.05;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity $trs3;
    &.animated {
      opacity: 0.05;
    }
  }
  &__text-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    transition: opacity $trs3, transform $trs3out;
    transform: translateY(50px);
    opacity: 0;
    &.animated {
      opacity: 1;
      transform: translate(0);
    }
    &:not(:last-child) {
      margin-bottom: 85px;
    }
  }
  &__title {
    color: inherit;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    font-weight: 800;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      padding-top: 420px;
    }
    &__text-section {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
    &__text-image {
      height: 90px;
      &_1 {
        left: 90px;
        top: 105px;
      }
      &_2 {
        right: 90px;
        top: 235px;
      }
    }
    &__logo {
      max-width: 700px;
      top: 380px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      padding-top: 320px;
    }
    &__text-section {
      max-width: 100%;
    }
    &__logo {
      top: 290px;
    }
    &__text-image {
      height: 70px;
      &_1 {
        left: 90px;
        top: 80px;
      }
      &_2 {
        right: 90px;
        top: 180px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__text-image {
      &_1 {
        left: 30px;
      }
      &_2 {
        right: 30px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__text-image {
      display: none;
    }
    &__logo {
      top: 50px;
    }
    &__text {
      font-size: 1.125rem;
    }
    &__container {
      padding: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    &__text-section {
      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }
    &__logo {
      width: calc(100% - 32px);
      top: 150px;
    }
    &__text {
      font-size: 0.875rem;
    }
  }
}

.video-section {
  &__video {
    display: block;
    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
    img {
      filter: grayscale(80%);
      transition: filter $trs1, opacity $trs3, visibility $trs3, transform $trs1;
    }
    &-text {
      background-color: var(--color-accent);
      line-height: 80px;
      padding: 0 25px 0 30px;
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;
      color: #fff;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      transition: background-color $trs1;
      .icon {
        width: 38px;
        height: 38px;
        margin-left: 30px;
      }
    }
    &.touch, &.hover {
      img {
        filter: grayscale(0);
        transform: scale(1.01) rotate(0.15deg);
      }
    }

    
  }
  @include media-breakpoint-down(xl) {
    &__video {
      &-text {
        line-height: 60px;
        .icon {
          width: 24px;
          height: 24px;
          margin-left: 20px;
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__video {
      &.touch, &.hover {
        .video-section__video-text {
          background-color: var(--color-accent-darker);
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    &__video {
      &.touch, &.hover {
        .video-section__video-text .icon {
          background-color: var(--color-accent-darker);
        }
      }
      &::before {
        padding-top: 75%;
      }
      &-text {
        line-height: 50px;
        font-size: 0.875rem;
        display: flex;
        width: 100%;
        background-color: var(--color-dark-bg);
        padding: 0;
        span {
          flex: 1 1 100%;
          text-align: center;
          padding: 0 15px;
        }
        .icon {
          flex: 0 0 70px;
          padding: 13px;
          height: 50px;
          background-color: var(--color-accent);
          margin: 0;
          transition: background-color $trs1;
        }
      }
    }
    .container {
      padding: 0;
    }
  }
}

.feedback {
  color: #fff;
  background: var(--color-dark-bg, #0F0B17);
  border-radius: $radius $radius 0 0;
  margin: 0;
  &__title {
    color: inherit;
  }
  &__map {
    height: 665px;
    width: 100%;
    border: 0;
    background-color: var(--color-images-bg);
    margin: 0;
    display: block;
  }
  &-block {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
    &__text {
      font-size: 1.5rem;
    }
    &__buttons {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    &__message {
      font-size: 0.875rem;
    }
  }
  @include media-breakpoint-down(xxl) {
    
  }
  @include media-breakpoint-down(lg) {
    border-radius: 80px 80px 0 0;
    &-block {
      &__text {
        font-size: 1.125rem;
      }
      &__buttons {
        margin: 60px 0 40px 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    border-radius: 24px 24px 0 0;
    &-block {
      &__buttons {
        margin: 40px  0;
      }
    }
  }
}

.clients {
  &-block {
    &__image {
      transition: box-shadow $trs1, background-color $trs1;
      background-color: #fff;
      &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
        border: 1px solid #AFB3BD;
      }
      img {
        padding: 35px;
      }
      &.touch, &.hover {
        background: #0F0B17;
        box-shadow: 0px 19px 50px rgba(28, 27, 27, 0.65);
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-block {
      &__image {
        img {
          padding: 15px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &-block {
      &__image {
        img {
          padding: 10px;
        }
      }
    }
  }
}

.documents {
  &-item {
    &__image {
      box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.15);
      filter: grayscale(100%);
      transition: box-shadow $trs1, filter $trs1;
      &::before {
        content: '';
        display: block;
        padding-top: 142%;
      }
      &.touch, &.hover {
        box-shadow: 0px 16px 34px rgba(118, 118, 118, 0.33);
        filter: grayscale(0);
      }
    }
  }
}

.organization {
  z-index: 3;
  &__container {
    position: relative;
    z-index: 2;
  }
  &-block {
    &__images {
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
        pointer-events: none;
      }
      &-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
      }
    }
    &__loader {
      transform: rotate(-90deg);
    }
    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      img {
        padding: 38px;
      }
    }
    &__loader {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      stroke-width: 1.1px;
      color: var(--color-accent);
      pointer-events: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &__item {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &-title {
        margin: 0;
        cursor: pointer;
        line-height: 1;
        transition: color $trs1;
        &.touch, &.hover {
          color: var(--color-accent);
        }
      }
      &-text {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 25px;
      }
      &-content {
        height: 0;
        overflow: hidden;
      }
      &.active {
        .organization-block__item-title {
          transition: color $trs3;
          color: var(--color-accent);
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &-block__item-text {
      font-size: 1.125rem;
      padding-top: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    &-block {
      &__images {
        height: auto;
      }
      &__content {
        margin-bottom: 80px;
        height: auto;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
      text-align: left;
    }
    &-block__content {
      align-items: flex-start;
    }
    &-block__item-text {
      font-weight: 700;
      font-size: 0.875rem;
      padding-top: 15px;
    }
    &-block__content {
      margin-bottom: 50px;
    }
    &-block__item {
      width: 100%;
      text-align: left;
    }
    &-block__item-title {
      font-size: 2.25rem;
    }
  }
}

.services {
  position: relative;
  &__container {
    position: relative;
    z-index: 2;
  }
  @include media-breakpoint-down(xl) {
    &__background {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      border: none;
    }
  }
}

.services-block {
  position: relative;
  z-index: 1;
  &.active {
    z-index: 2;
    .services-block__back {
      opacity: 1;
      visibility: visible;
    }
  }
  &__container {
    position: relative;
    background-color: var(--color-dark-bg);
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__front {
    background-color: var(--color-gray-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 25px;
    position: absolute;
    z-index: 2;
    transition: background-color $trs1;
    .icon {
      width: 50px;
      height: 50px;
      transition: transform $trs1, color $trs1;
      color: #AFB3BD;
    }
    &-title {
      font-weight: 500;
      line-height: 1.5;
      margin: 20px 0 0 0;
    }
    &.touch {
      .icon {
        transform: scale(1.25);
        color: inherit;
      }
    }
  }
  &__back {
    position: absolute;
    z-index: 1;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
      box-shadow: 0px 19px 50px rgba(28, 27, 27, 0.65);
    }
    &-title {
      margin: 0 0 20px 0;
    }
    &-text {
      font-size: 1.5rem;
    }
    .button {
      width: 286px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    &::before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 2px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      opacity: 0.5;
      transition: opacity $trs1;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &.touch, &.hover {
      &::before, &:after {
        opacity: 1;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__back {
      width: 400px;
      &-content {
        padding: 30px;
      }
      &-text {
        font-size: 1.125rem;
      }
      &-bottom {
        width: 100%;
      }
      .button {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__back {
      top: auto;
      left: auto;
      transform: translate(0);
    }
    &:nth-child(1) {
      .services-block__back {
        left: 0;
        top: 0;
      }
    }
    &:nth-child(2) {
      .services-block__back {
        right: 0;
        top: 0;
      }
    }
    &:nth-child(3) {
      .services-block__back {
        bottom: 0;
        left: 0;
      }
    }
    &:nth-child(4) {
      .services-block__back {
        bottom: 0;
        right: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) { 
    &__back {
      width: calc(100vw - 32px);
      &-top {
        margin-bottom: 15px;
      }
      &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-content {
        padding: 40px 20px 24px 20px;
        text-align: center;
        justify-content: space-around;
        align-items: center;
      }
      &-text {
        font-size: 0.875rem;
        max-width: 300px;
      }
      &-title {
        margin: 0 0 15px 0;
      }
      .button {
        line-height: 38px;
        height: 40px;
        width: 200px;
        font-size: 0.875rem;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    &__front {
      padding: 0;
      &-title {
        display: none;
      }
      .icon {
        width: 25%;
        height: 25%;
      }
    }
  }
}

.main-bg {
  height: auto;
  top: 53%;
  &:before {
    content: '';
    display: block;
    padding-top: 125%;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.team {
  .form-block {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &__container {
      box-shadow: 0px 19px 50px rgba(28, 27, 27, 0.65);
    }
  }
  &-slider {
    position: relative;
    z-index: 1;
    &__container {
      position: relative;
    }
    &__slides {
      position: relative;
      overflow: hidden;
      background-color: var(--color-gray-bg);
      &::before {
        content: '';
        display: block;
        padding-top: 75%;
      }
    }
    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }
    &__nav {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 160px;
      bottom: 0;
      left: 0;
      background-color: rgba(14, 14, 14, 0.8);
    }
    &__info {
      position: absolute;
      color: #fff;
      left: 0;
      top: 0;
      padding: 30px 46px;
      opacity: 0;
      visibility: hidden;
      &-name {
        margin: 0;
      }
      &-position {
        font-size: 1.5rem;
      }
    }
    &__button {
      position: absolute;
      color: #fff;
      line-height: 30px;
      font-size: 1.5rem;
      right: 370px;
      bottom: 48px;
      text-decoration: none;
      padding-left: 1.8em;
      &-index {
        position: absolute;
        left: 0;
        top: 0;
        width: 1.25em;
        text-align: center;
        display: block;
        opacity: 0;
        visibility: hidden;
      }
      .icon {
        width: 54px;
        height: 10px;
        color: var(--color-accent);
        transform: translateY(3px);
        transition: color $trs1, transform $trs1;
      }
      &.touch, &.hover {
        .icon {
          color: var(--color-accent-darker);
          transform: translate(3px, 3px);
        }
      }
    }
    &__loader {
      position: absolute;
      bottom: 20px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      &-item {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-accent);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &-slider__info-position {
      font-size: 1.125rem;
    }
    &-slider__nav {
      height: 140px;
    }
    &-slider__loader {
      bottom: 16px;
    }
    &-slider__button {
      right: 300px;
      bottom: 44px;
    }
  }
  @include media-breakpoint-down(xl) {
    &-slider__info {
      padding: 30px 70px;
    }
    &-slider__button {
      right: 70px;
    }
    .form-block {
      position: relative;
      right: auto;
      top: auto;
      transform: none;
      width: 100%;
      z-index: 0;
      &__form {
        margin: 35px 0;
      }
      &__container {
        width: 100%;
        height: auto;
        padding: 50px 70px;
      }
      &__row {
        margin-bottom: -40px;
      }
      &__item {
        margin-bottom: 40px;
      }
      &__text {
        font-size: 1.125rem;
      }
      &__alert {
        font-size: 0.875rem;
      }
      &__title {
        br {
          display: none;
        }
      }
    }
    
  }
  @include media-breakpoint-down(md) {
    .form-block__container {
      padding: 40px 24px;
    }
    &-slider {
      &__slides {
        &::before {
          padding-top: 120%;
        }
      }
      &__button {
        right: 24px;
      }
      &__info {
        padding: 30px 24px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .container {
      padding: 0;
    }
    .form-block__form {
      margin: 45px 0 30px 0;
    }
    .form-block__container {
      padding: 30px 16px;
    }
    .form-block__text {
      font-size: 1rem;
    }
    .form-block__button {
      margin-top: 30px;
    }
    .form-block__alert {
      text-align: center;
    }
    &-slider {
      &__slides {
        &::before {
          padding-top: 150%;
        }
      }
      &__loader {
        height: 2px;
        bottom: 14px;
      }
      &__button {
        right: 16px;
        bottom: 30px;
      }
      &__info {
        padding: 16px;
      }
    }
  }
}

.form-block {
  &__container {
    background-color: var(--color-dark-bg);
    height: 680px;
    width: 680px;
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin-top: 0;
  }
  &__text {
    font-size: 1.125rem;
  }
  &__row {
    margin-bottom: -40px;
  }
  &__button {
    margin-top: 10px;
  }
  &__alert {
    font-size: 0.875rem;
  }
  &__item {
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    &__row {
      margin-right: -20px;
      margin-left: -20px;
      &>* {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      width: 555px;
      height: 555px;
      padding: 40px;
    }
    &__text {
      font-size: 1rem;
    }
    &__row {
      margin-bottom: -20px;
    }
    &__alert {
      font-size: 0.75rem;
    }
    
    &__item {
      margin-bottom: 20px;
    }
  }

}