.footer {
  min-height: calc(100vh + 2px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-dark-bg, #0F0B17);
  &__map {
    flex: 1 1 100%;
    min-height: 300px;
    margin: 0;
    position: relative;
    background-color: var(--color-images-bg);
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  &__content {
    flex: 0 0 auto;
    padding: 60px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__contacts {
    &-title {
      margin: 0 0 30px 0;
      color: #fff;
      line-height: 1;
    }
    &-list {
      color: var(--color-text-muted);
      li {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        font-weight: 700;
        transition: color $trs1;
        &.touch, &.hover {
          color: var(--color-accent);
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      flex-direction: column;
    }
  }
}

.footer-socials {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__link {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 45px;
    color: #fff;
    display: flex;
    transition: color $trs1, background-color $trs1;
    .icon {
      width: 20px;
      height: 20px;
      margin: auto;
    }
    &.touch, &.hover {
      background-color: #fff;
      color: #000;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
    &__list {
      flex-direction: row;
      justify-content: flex-start;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}