.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
  position: relative;
}
.container {
  position: relative;
  z-index: 2;
}

.section {
  padding: 100px 0;
  z-index: 2;
  position: relative;
  &_mb {
    margin-bottom: 200px;
  }
  &_mb2 {
    margin-bottom: 100px;
  }
  &__title {
    text-align: center;
    margin: 0 0 100px 0;
    font-weight: 800;
  }
  @include media-breakpoint-down(xxl) {
    padding: 80px 0;
    &_mb {
      margin-bottom: 160px;
    }
    &_mb2 {
      margin-bottom: 80px;
    }
    &__title {
      margin: 0 0 60px 0;
    }
  }
  @include media-breakpoint-down(xl) {
    padding: 60px 0;
    &_mb {
      margin-bottom: 120px;
    }
    &_mb2 {
      margin-bottom: 60px;
    }
  }
}

.grid {
  margin-bottom: -24px;
  &__block {
    padding-bottom: 24px;
  }
}

