.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
  position: relative;
}
.container {
  position: relative;
  z-index: 2;
}

.section {
  padding: 100px 0;
  z-index: 2;
  position: relative;
  &_pt {
    padding-top: 200px;
  }
  &_pb {
    padding-bottom: 200px;
  }
  &_mt {
    margin-top: 200px;
  }
  &_mb {
    margin-bottom: 200px;
  }
  &_mb2 {
    margin-bottom: 100px;
  }
  &__title {
    text-align: center;
    margin: 0 0 100px 0;
  }
  @include media-breakpoint-down(xxl) {
    padding: 80px 0;
    &_pt {
      padding-top: 160px;
    }
    &_pb {
      padding-bottom: 160px;
    }
    &_mt {
      margin-top: 160px;
    }
    &_mb {
      margin-bottom: 160px;
    }
    &_mb2 {
      margin-bottom: 80px;
    }
    &__title {
      margin: 0 0 60px 0;
    }
  }
  @include media-breakpoint-down(xl) {
    padding: 60px 0;
    &_pt {
      padding-top: 120px;
    }
    &_pb {
      padding-bottom: 120px;
    }
    &_mt {
      margin-top: 120px;
    }
    &_mb {
      margin-bottom: 120px;
    }
    &_mb2 {
      margin-bottom: 60px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 50px 0;
    &_pt {
      padding-top: 100px;
    }
    &_pb {
      padding-bottom: 100px;
    }
    &_mt {
      margin-top: 100px;
    }
    &_mb {
      margin-bottom: 100px;
    }
    &_mb2 {
      margin-bottom: 50px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 35px 0;
    &__title {
      margin: 0 0 40px 0;
    }
    &_pb {
      padding-bottom: 70px;
    }
    &_pt {
      padding-top: 70px;
    }
    &_mt {
      margin-top: 70px;
    }
    &_mb {
      margin-bottom: 70px;
    }
    &_mb2 {
      margin-bottom: 35px;
    }
  }
}

.grid {
  margin-bottom: -24px;
  &__block {
    padding-bottom: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: -16px;
    &__block {
      padding-bottom: 16px;
    }
  }
}

@include media-breakpoint-down(md) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}

