.modal {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  overflow: auto;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    cursor: pointer;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 17px;
    width: 50px;
    height: 50px;
    z-index: 2;
    pointer-events: none;
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1px;
      width: 36px;
      background-color: #fff;
      transition: background-color $trs2, transform $trs1;
      &:first-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
  &__video {
    position: relative;
    z-index: 2;
    margin: auto;
    padding: 100px;
    visibility: hidden;
    &-content {
      visibility: visible;
      background-color: #000;
      height: 100%;
      width: 100%;
    }
  }
  &__wrapper {
    margin: auto;
    padding: $container-padding-x;
    max-width: calc(#{$container-padding-x * 2} + 920px);
    position: relative;
    z-index: 2;
  }
  &__container {
    position: relative;
  }
  @include media-breakpoint-down(lg) {
    padding: 90px 24px;
    &-close {
      top: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 80px 16px;
    &-close {
      top: 15px;
      right: 9px;
    }
  }
}


#video-player {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
  visibility: hidden;
}

.modal-succes {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 680px;
    background: var(--color-bg-gradient);
    color: #fff;
    padding: 60px;
  }
  &__title {
    margin-top: 0;
  }
  &__icon {
    margin: 0 0 30px 0;
    width: 60px;
    height: 60px;
  }
  &__text {
    font-size: 1.125rem;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      width: 560px;
      padding: 40px;
    }
  }
}