//bootsrtap v5
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1520px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
  xxl: 1440px
);
$container-padding-x:        24px;
$grid-gutter-width:          24px;
$mobile-container-padding-x: 16px;
$mobile-grid-gutter-width:   16px;

$trs1: .3s ease-in-out;
$trs2: .5s ease-in-out;
$trs3: 1s ease-in-out;
$trs4: 1.5s ease-in-out;
$trs1out: .3s ease-out;
$trs2out: .5s ease-out;
$trs3out: 1s ease-out;
$trs4out: 1.5s ease-out;
$trs1in: .3s ease-in;
$trs2in: .5s ease-in;
$trs3in: 1s ease-in;
$trs4in: 1.5s ease-in;

$radius: 120px;