include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    block title
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    //color
    meta(name="theme-color" content="#141418")
    //favicons
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
    
  body(style='background-color:#0F0B17;')
    if preloader == true
      include ../blocks/preloader
    .wrapper(style='opacity:0;visibility:hidden;' data-namespace=namespace)
      include ../blocks/header
      include ../blocks/nav
      main.main
        block content
      include ../blocks/footer
    
    //modals
    include ../blocks/modals
    
    //themes
    link.theme(rel="stylesheet" data-href="./styles/theme.css")
    link.theme(rel="stylesheet" data-href="./styles/theme2.css")
    //styles
    link(rel="stylesheet" href="./styles/common.css")
    //scripts
    script(src="./scripts/common.js")

    //preview
    include ../blocks/helper
    link(rel="stylesheet" href="./styles/helper.css")
    script(src="./scripts/helper.js")