extends layout/layout
block variables
  -var namespace = 'home'
  -var preloader = true
block title
  title #{title} - Организация мероприятий
block content 
  .background.lazyload.main-bg(data-src='./img/background2.png')
  .home-dots(data-scroll-lock-fill-gap)
    a(href="#home").home-dots__link 
      span Главная
    a(href="#about").home-dots__link
      span Эффектно эффективно
    a(href="#video").home-dots__link
      span за 90 сек. о Первых лицах
    a(href="#organization").home-dots__link
      span Организация
    a(href="#team").home-dots__link
      span Команда
    a(href="#services").home-dots__link
      span Услуги
    a(href="#clients").home-dots__link
      span Клиенты
    a(href="#feedback").home-dots__link
      span Обратная связь
    a(href="#footer").home-dots__link
      span Контакты
      
  section.section.section_mb2.desktop-background-wrapper(data-dark)
    .desktop-background-wrapper__background(style='background-image:url("./img/iStock-613111906.jpg");')


    section.section.home#home(data-scroll-block)
      .home__mobile-background(style='background-image:url("./img/mobile-home-bg.jpg");')
      span.home__vertical-line
      .background-video(data-video='https://1faces.com/storage/app/media/video/pages/main/main.mp4' data-parralax='0.15')
        .background-video__wrap
          #bg-player.background-video__element
      div.background-video-dark-layer
      .container.home__container

        .home__desktop-buttons 
          //button
          a(href="./den-polya.html").field-day-icon
            img(src="./img/den-polya/den-polya-icon-back.svg", alt="image")
            img(src="./img/den-polya/den-polya-icon-front.svg", alt="image")
          //button
          a(href="./mice.html").mice-day-icon
            img(src="./img/mice/mice-icon-back.svg", alt="image")
            img(src="./img/mice/mice-icon-front.svg", alt="image")

        .home__mobile-buttons 
          a(href="./den-polya.html").home__mobile-button.home__mobile-button_1
            img(src="./img/den-polya/den-polya-icon.svg", alt="icon").icon
            span ДЕНЬ ПОЛЯ
          a(href="./mice.html").home__mobile-button.home__mobile-button_2
            img(src="./img/mice/mice-icon.svg", alt="icon").icon
            span MICE


        a(data-src="https://1faces.com/storage/app/media/video/pages/main/main.mp4" data-modal='video').video-play-round.home__item
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#play')
        .home__items
          .home-logo.home__item
            svg(viewBox='0 0 340 340').home-logo__circle
              path(d='M335,170c0,91.1-73.9,165-165,165C78.9,335,5,261.1,5,170c0-42.7,16.2-81.6,42.9-110.9C78,25.8,121.6,5,170,5C261.1,5,335,78.9,335,170z')

            img(src="./img/logos/logo.svg", alt="logo").home-logo__image
            h2.home-logo__title Первые лица
            span.home-logo__text Организация мероприятий
          h1.home__title.home__item Организация и проведение<br> мероприятий
          p.home__text.home__item 
            span.d-none.d-sm-block Готовы обсудить ваши задачи и предоставить<br> концепт мероприятия за 24 часа!
            span.d-block.d-sm-none Концепт мероприятия за 24 часа!
          a(href="#modal-form" data-modal='open' data-subject='Свяжитесь с нами | Главная страница').button.button_style-1.home__button.home__item Свяжитесь с нами

    section.section.section_pt.about#about(data-scroll-block)
      .container
        svg(viewBox='0 0 678 106' fill='currentColor').about__text-image.about__text-image_1.js-scroll-animated
          path(d='M0.698131 89.7408C-0.139626 89.0686 -0.223402 88.1863 0.446804 87.0939L6.35299 78.5232C6.93942 77.4308 7.77718 77.2628 8.86626 78.019C14.9819 82.4725 21.9353 84.6992 29.7264 84.6992C35.842 84.6992 40.5754 83.1027 43.9264 79.9096C47.3612 76.6326 49.0786 72.1371 49.0786 66.4233V59.6171H20.0503C18.7937 59.6171 18.1654 59.0289 18.1654 57.8526V47.5172C18.1654 46.3409 18.7937 45.7527 20.0503 45.7527H49.0786V38.1903C49.0786 32.5604 47.3612 28.149 43.9264 24.956C40.5754 21.763 35.8839 20.1665 29.8521 20.1665C22.8149 20.1665 16.5736 22.0571 11.1282 25.8383C9.95534 26.5105 9.0757 26.3425 8.48927 25.3341L2.58308 16.7634C1.91288 15.7551 2.03854 14.9148 2.96007 14.2426C11.0025 8.61276 19.9665 5.79786 29.8521 5.79786C39.7376 5.79786 47.9476 8.57075 54.4821 14.1165C61.0166 19.5783 64.2839 27.5608 64.2839 38.0642V66.8014C64.2839 77.3888 61.0166 85.4134 54.4821 90.8752C47.9476 96.3369 39.6538 99.0678 29.6007 99.0678C18.291 99.0678 8.65682 95.9588 0.698131 89.7408Z')
          path(d='M131.854 106H120.418C119.245 106 118.659 105.37 118.659 104.109V95.2866H112.753C103.118 95.2866 95.076 92.3876 88.6253 86.5898C82.1746 80.7919 78.9492 72.1792 78.9492 60.7515V44.3662C78.9492 33.0226 82.1327 24.4939 88.4996 18.78C94.9504 12.9822 103.035 10.0832 112.753 10.0832H118.659V1.76457C118.659 0.588189 119.245 0 120.418 0H131.854C133.11 0 133.738 0.588189 133.738 1.76457V10.0832H139.645C149.363 10.0832 157.405 12.9822 163.772 18.78C170.223 24.4939 173.448 33.0226 173.448 44.3662V60.7515C173.448 72.1792 170.223 80.7919 163.772 86.5898C157.321 92.3876 149.279 95.2866 139.645 95.2866H133.738V104.109C133.738 105.37 133.11 106 131.854 106ZM94.5315 61.0036C94.5315 67.8938 96.2908 72.9354 99.8093 76.1284C103.328 79.3214 107.894 80.918 113.507 80.918H118.659V24.3258H113.507C100.857 24.3258 94.5315 30.9639 94.5315 44.2402V61.0036ZM133.738 24.3258V80.918H138.891C144.504 80.918 149.069 79.3214 152.588 76.1284C156.107 72.9354 157.866 67.8938 157.866 61.0036V44.2402C157.866 30.9639 151.541 24.3258 138.891 24.3258H133.738Z')
          path(d='M240.705 106H229.269C228.096 106 227.51 105.37 227.51 104.109V95.2866H221.604C211.97 95.2866 203.927 92.3876 197.476 86.5898C191.026 80.7919 187.8 72.1792 187.8 60.7515V44.3662C187.8 33.0226 190.984 24.4939 197.351 18.78C203.801 12.9822 211.886 10.0832 221.604 10.0832H227.51V1.76457C227.51 0.588189 228.096 0 229.269 0H240.705C241.961 0 242.59 0.588189 242.59 1.76457V10.0832H248.496C258.214 10.0832 266.256 12.9822 272.623 18.78C279.074 24.4939 282.299 33.0226 282.299 44.3662V60.7515C282.299 72.1792 279.074 80.7919 272.623 86.5898C266.172 92.3876 258.13 95.2866 248.496 95.2866H242.59V104.109C242.59 105.37 241.961 106 240.705 106ZM203.383 61.0036C203.383 67.8938 205.142 72.9354 208.66 76.1284C212.179 79.3214 216.745 80.918 222.358 80.918H227.51V24.3258H222.358C209.708 24.3258 203.383 30.9639 203.383 44.2402V61.0036ZM242.59 24.3258V80.918H247.742C253.355 80.918 257.921 79.3214 261.439 76.1284C264.958 72.9354 266.717 67.8938 266.717 61.0036V44.2402C266.717 30.9639 260.392 24.3258 247.742 24.3258H242.59Z')
          path(d='M314.998 58.6088V83.5648H355.336C356.593 83.5648 357.221 84.153 357.221 85.3294V95.5386C357.221 96.799 356.593 97.4293 355.336 97.4293H301.552C300.379 97.4293 299.793 96.799 299.793 95.5386V9.20095C299.793 7.94055 300.379 7.31035 301.552 7.31035H353.577C354.834 7.31035 355.462 7.94055 355.462 9.20095V19.4102C355.462 20.5866 354.834 21.1748 353.577 21.1748H314.998V44.7444H350.31C351.566 44.7444 352.195 45.3746 352.195 46.635V56.7182C352.195 57.9786 351.566 58.6088 350.31 58.6088H314.998Z')
          path(d='M386.744 97.4293H375.183C374.01 97.4293 373.424 96.799 373.424 95.5386V9.20095C373.424 7.94055 374.01 7.31035 375.183 7.31035H386.744C387.917 7.31035 388.504 7.94055 388.504 9.20095V45.7527L419.919 8.44471C420.673 7.68847 421.427 7.31035 422.181 7.31035H436.884C437.722 7.31035 438.224 7.56243 438.392 8.06659C438.643 8.48672 438.518 8.99089 438.015 9.57908L404.714 47.5172L440.78 95.1605C441.282 95.8327 441.408 96.3789 441.157 96.799C440.905 97.2192 440.403 97.4293 439.649 97.4293H424.946C423.857 97.4293 423.103 97.0511 422.684 96.2949L394.787 58.6088L388.504 65.415V95.5386C388.504 96.799 387.917 97.4293 386.744 97.4293Z')
          path(d='M444.807 7.31035H510.529C511.785 7.31035 512.414 7.94055 512.414 9.20095V19.5363C512.414 20.7126 511.785 21.3008 510.529 21.3008H485.27V95.5386C485.27 96.799 484.684 97.4293 483.511 97.4293H471.95C470.777 97.4293 470.191 96.799 470.191 95.5386V21.3008H444.807C443.55 21.3008 442.922 20.7126 442.922 19.5363V9.20095C442.922 7.94055 443.55 7.31035 444.807 7.31035Z')
          path(d='M574.761 44.8704V9.20095C574.761 7.94055 575.348 7.31035 576.521 7.31035H588.082C589.255 7.31035 589.841 7.94055 589.841 9.20095V95.5386C589.841 96.799 589.255 97.4293 588.082 97.4293H576.521C575.348 97.4293 574.761 96.799 574.761 95.5386V58.8609H539.324V95.5386C539.324 96.799 538.738 97.4293 537.565 97.4293H526.004C524.831 97.4293 524.245 96.799 524.245 95.5386V9.20095C524.245 7.94055 524.831 7.31035 526.004 7.31035H537.565C538.738 7.31035 539.324 7.94055 539.324 9.20095V44.8704H574.761Z')
          path(d='M678 63.9025C678 74.91 674.9 83.5228 668.701 89.7408C662.501 95.8748 653.831 98.9417 642.688 98.9417C631.546 98.9417 622.876 95.8748 616.676 89.7408C610.477 83.5228 607.377 74.91 607.377 63.9025V40.7111C607.377 29.7035 610.477 21.1328 616.676 14.9988C622.876 8.86484 631.546 5.79786 642.688 5.79786C653.831 5.79786 662.501 8.86484 668.701 14.9988C674.9 21.1328 678 29.7035 678 40.7111V63.9025ZM622.834 63.9025C622.834 70.6247 624.509 75.7503 627.86 79.2794C631.211 82.8086 636.154 84.5731 642.688 84.5731C649.223 84.5731 654.166 82.8086 657.517 79.2794C660.868 75.7503 662.543 70.6247 662.543 63.9025V40.8371C662.543 26.9727 655.925 20.0404 642.688 20.0404C629.452 20.0404 622.834 26.9727 622.834 40.8371V63.9025Z')
        svg(viewBox='0 0 846 108' fill='currentColor').about__text-image.about__text-image_2.js-scroll-animated
          path(d='M0.696715 91.434C-0.139343 90.7491 -0.222949 89.8502 0.445897 88.7372L6.3401 80.0048C6.92534 78.8918 7.7614 78.7206 8.84828 79.4911C14.9515 84.0285 21.8908 86.2973 29.6661 86.2973C35.7693 86.2973 40.4931 84.6706 43.8373 81.4174C47.2651 78.0785 48.979 73.4982 48.979 67.6766V60.742H20.0096C18.7556 60.742 18.1285 60.1427 18.1285 58.9441V48.4138C18.1285 47.2152 18.7556 46.6159 20.0096 46.6159H48.979V38.9108C48.979 33.1748 47.2651 28.6801 43.8373 25.4269C40.4931 22.1736 35.8111 20.547 29.7915 20.547C22.7686 20.547 16.54 22.4733 11.1056 26.3258C9.93515 27.0107 9.05729 26.8395 8.47205 25.8121L2.57784 17.0797C1.909 16.0523 2.03441 15.1962 2.95407 14.5113C10.9802 8.77527 19.926 5.90725 29.7915 5.90725C39.657 5.90725 47.8504 8.73246 54.3716 14.3829C60.8929 19.9477 64.1535 28.0809 64.1535 38.7824V68.0618C64.1535 78.849 60.8929 87.025 54.3716 92.5898C47.8504 98.1546 39.5734 100.937 29.5407 100.937C18.2539 100.937 8.63926 97.7693 0.696715 91.434Z')
          path(d='M131.586 108H120.174C119.003 108 118.418 107.358 118.418 106.074V97.0844H112.524C102.909 97.0844 94.8832 94.1308 88.4455 88.2235C82.0079 82.3163 78.7891 73.541 78.7891 61.8977V45.2033C78.7891 33.6457 81.9661 24.956 88.3201 19.1344C94.7578 13.2271 102.826 10.2735 112.524 10.2735H118.418V1.79786C118.418 0.599286 119.003 0 120.174 0H131.586C132.84 0 133.467 0.599286 133.467 1.79786V10.2735H139.361C149.06 10.2735 157.086 13.2271 163.44 19.1344C169.878 24.956 173.096 33.6457 173.096 45.2033V61.8977C173.096 73.541 169.878 82.3163 163.44 88.2235C157.002 94.1308 148.976 97.0844 139.361 97.0844H133.467V106.074C133.467 107.358 132.84 108 131.586 108ZM94.3398 62.1546C94.3398 69.1748 96.0955 74.3115 99.6069 77.5648C103.118 80.8181 107.675 82.4447 113.276 82.4447H118.418V24.7848H113.276C100.652 24.7848 94.3398 31.5482 94.3398 45.0749V62.1546ZM133.467 24.7848V82.4447H138.609C144.211 82.4447 148.767 80.8181 152.279 77.5648C155.79 74.3115 157.546 69.1748 157.546 62.1546V45.0749C157.546 31.5482 151.233 24.7848 138.609 24.7848H133.467Z')
          path(d='M240.216 108H228.804C227.634 108 227.049 107.358 227.049 106.074V97.0844H221.154C211.54 97.0844 203.514 94.1308 197.076 88.2235C190.638 82.3163 187.419 73.541 187.419 61.8977V45.2033C187.419 33.6457 190.596 24.956 196.95 19.1344C203.388 13.2271 211.456 10.2735 221.154 10.2735H227.049V1.79786C227.049 0.599286 227.634 0 228.804 0H240.216C241.471 0 242.098 0.599286 242.098 1.79786V10.2735H247.992C257.69 10.2735 265.716 13.2271 272.07 19.1344C278.508 24.956 281.727 33.6457 281.727 45.2033V61.8977C281.727 73.541 278.508 82.3163 272.07 88.2235C265.633 94.1308 257.606 97.0844 247.992 97.0844H242.098V106.074C242.098 107.358 241.471 108 240.216 108ZM202.97 62.1546C202.97 69.1748 204.726 74.3115 208.237 77.5648C211.749 80.8181 216.305 82.4447 221.907 82.4447H227.049V24.7848H221.907C209.282 24.7848 202.97 31.5482 202.97 45.0749V62.1546ZM242.098 24.7848V82.4447H247.239C252.841 82.4447 257.397 80.8181 260.909 77.5648C264.42 74.3115 266.176 69.1748 266.176 62.1546V45.0749C266.176 31.5482 259.864 24.7848 247.239 24.7848H242.098Z')
          path(d='M314.359 59.7146V85.1415H354.616C355.87 85.1415 356.497 85.7408 356.497 86.9394V97.3413C356.497 98.6255 355.87 99.2675 354.616 99.2675H300.941C299.77 99.2675 299.185 98.6255 299.185 97.3413V9.37456C299.185 8.09037 299.77 7.44828 300.941 7.44828H352.86C354.114 7.44828 354.741 8.09037 354.741 9.37456V19.7765C354.741 20.975 354.114 21.5743 352.86 21.5743H314.359V45.5886H349.599C350.853 45.5886 351.48 46.2307 351.48 47.5149V57.7883C351.48 59.0725 350.853 59.7146 349.599 59.7146H314.359Z')
          path(d='M385.96 99.2675H374.422C373.252 99.2675 372.667 98.6255 372.667 97.3413V9.37456C372.667 8.09037 373.252 7.44828 374.422 7.44828H385.96C387.13 7.44828 387.716 8.09037 387.716 9.37456V46.6159L419.068 8.60405C419.82 7.83353 420.573 7.44828 421.325 7.44828H435.998C436.834 7.44828 437.336 7.70512 437.503 8.21879C437.754 8.64685 437.628 9.16053 437.127 9.75981L403.893 48.4138L439.886 96.956C440.387 97.6409 440.513 98.1974 440.262 98.6254C440.011 99.0535 439.509 99.2675 438.757 99.2675H424.084C422.997 99.2675 422.245 98.8823 421.827 98.1118L393.986 59.7146L387.716 66.6492V97.3413C387.716 98.6255 387.13 99.2675 385.96 99.2675Z')
          path(d='M443.905 7.44828H509.493C510.747 7.44828 511.374 8.09037 511.374 9.37456V19.9049C511.374 21.1035 510.747 21.7027 509.493 21.7027H484.286V97.3413C484.286 98.6255 483.701 99.2675 482.53 99.2675H470.993C469.822 99.2675 469.237 98.6255 469.237 97.3413V21.7027H443.905C442.651 21.7027 442.023 21.1035 442.023 19.9049V9.37456C442.023 8.09037 442.651 7.44828 443.905 7.44828Z')
          path(d='M589.397 99.2675H577.985C576.815 99.2675 576.229 98.6255 576.229 97.3413V67.9334C576.229 57.6599 576.606 45.8882 577.358 32.6183L576.982 32.4899C572.969 41.2224 568.496 49.6552 563.563 57.7883L539.861 97.9834C539.359 98.8395 538.649 99.2675 537.729 99.2675H525.063C523.809 99.2675 523.182 98.6255 523.182 97.3413V9.37456C523.182 8.09037 523.809 7.44828 525.063 7.44828H536.349C537.603 7.44828 538.23 8.09037 538.23 9.37456V40.7087C538.23 53.0369 537.854 64.6373 537.102 75.5101L537.478 75.6385C539.819 71.1011 543.999 63.3532 550.019 52.3948L574.474 8.73246C575.059 7.87634 575.811 7.44828 576.731 7.44828H589.397C590.568 7.44828 591.153 8.09037 591.153 9.37456V97.3413C591.153 98.6255 590.568 99.2675 589.397 99.2675Z')
          path(d='M672.926 32.6183C672.926 40.9227 669.958 46.9156 664.022 50.5969C672.55 54.3639 676.814 61.4269 676.814 71.786C676.814 80.4328 674.097 87.1962 668.662 92.0761C663.228 96.8704 655.703 99.2675 646.089 99.2675H613.483C612.312 99.2675 611.727 98.6255 611.727 97.3413V9.37456C611.727 8.09037 612.312 7.44828 613.483 7.44828H646.089C654.533 7.44828 661.096 9.6742 665.778 14.126C670.544 18.4923 672.926 24.6564 672.926 32.6183ZM626.776 85.3983H645.963C656.247 85.3983 661.389 80.8181 661.389 71.6576C661.389 67.4626 660.093 64.1665 657.501 61.7693C654.909 59.2866 651.022 58.0452 645.838 58.0452H626.776V85.3983ZM657.626 32.8751C657.626 29.1082 656.498 26.2402 654.24 24.2711C652.067 22.302 649.182 21.3175 645.587 21.3175H626.776V44.5612H645.587C649.266 44.5612 652.192 43.5767 654.366 41.6076C656.54 39.6385 657.626 36.7277 657.626 32.8751Z')
          path(d='M742.971 45.717V9.37456C742.971 8.09037 743.556 7.44828 744.727 7.44828H756.264C757.435 7.44828 758.02 8.09037 758.02 9.37456V97.3413C758.02 98.6255 757.435 99.2675 756.264 99.2675H744.727C743.556 99.2675 742.971 98.6255 742.971 97.3413V59.9715H707.606V97.3413C707.606 98.6255 707.02 99.2675 705.85 99.2675H694.312C693.142 99.2675 692.557 98.6255 692.557 97.3413V9.37456C692.557 8.09037 693.142 7.44828 694.312 7.44828H705.85C707.02 7.44828 707.606 8.09037 707.606 9.37456V45.717H742.971Z')
          path(d='M846 65.1082C846 76.3234 842.907 85.0987 836.72 91.434C830.533 97.6837 821.88 100.809 810.76 100.809C799.641 100.809 790.987 97.6837 784.801 91.434C778.614 85.0987 775.52 76.3234 775.52 65.1082V41.4792C775.52 30.264 778.614 21.5315 784.801 15.2818C790.987 9.03211 799.641 5.90725 810.76 5.90725C821.88 5.90725 830.533 9.03211 836.72 15.2818C842.907 21.5315 846 30.264 846 41.4792V65.1082ZM790.946 65.1082C790.946 71.9572 792.618 77.1796 795.962 80.7753C799.306 84.371 804.239 86.1689 810.76 86.1689C817.281 86.1689 822.214 84.371 825.558 80.7753C828.903 77.1796 830.575 71.9572 830.575 65.1082V41.6076C830.575 27.4816 823.97 20.4186 810.76 20.4186C797.55 20.4186 790.946 27.4816 790.946 41.6076V65.1082Z')
        img(src="./img/logos/logo.svg", alt="logo").about__logo.js-scroll-animated
        .about__container
          .about-text.about__text-section.js-scroll-animated
            h2.about-text__title Мы решаем
            .about-text__text
              p Бизнес-задачи, создавая неповторимые и эффектные события с учетом специфики вашей отрасли и всех тонкостей вашей деятельности. Мы полностью берем на себя все вопросы по организации и проведению мероприятий — от концепции до менеджмента на площадке. 
          .about-text.about__text-section.js-scroll-animated
            h2.about-text__title ВЫ получаете
            .about-text__text
              p Команду с 10-ти летним опытом организации мероприятий, прозрачность на всех этапах подготовки, оптимальный бюджет,  внимание к деталям, отсутствие стресса в день события.

    section.section.section_pb.video-section#video(data-scroll-block data-black)
      .container
        .row.justify-content-center
          .col-lg-10
            a( data-src="https://1faces.com/storage/app/media/video/pages/main/main.mp4" data-modal='video').video-section__video.image.image_cover
              img(data-src="./img/2I5A5799 2.jpg", alt="image").lazyload
              .video-section__video-text 
                span За 90 секунд о Первых лицах 
                svg.icon
                  use(xlink:href='./img/icons/icons-sprite.svg#play')
        
  include blocks/organization

  include blocks/team

  include blocks/services

  include blocks/clients

  section.section.documents
    .container
      h2.section__title Отзывы и благодарности
      .row.grid
        mixin doc(href)
          .documents-item.col-xl-20pc.col-lg-3.col-md-4.col-6.grid__block
            .documents-item__image.jsTouchHover.image.image_cover
              img(data-src=href, alt="document").lazyload
        +doc('./img/document1.png')
        +doc('./img/document2.jpg')
        +doc('./img/document3.jpg')
        +doc('./img/document4.jpg')
        +doc('./img/document5.jpg')

  include blocks/contacts
  
    
    