extends layout/layout
block variables
  -var namespace = 'category'
block title
  title #{title} - Юбилей компании
block content

  section.section.template-screen.service-screen
    //video
    .background-video.template-screen__background-video(data-video='https://youtu.be/PfyXBk0Eh0U' data-parralax='0.15')
      .image.image_cover.background-video__background
        img(data-src='./img/20191206-117.jpg', alt="bg").lazyload
      .background-video__wrap
        #bg-player.background-video__element
    //content
    .container.template-screen__container
      //prev
      a(href="./index.html").back-button.template-screen__item
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#arrow-back')
        span Главная страница
      a(href="https://youtu.be/PfyXBk0Eh0U" data-modal='video').video-play-round.template-screen__item
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#play')
      .template-screen__content
        h1.template-screen__title.template-screen__item Организация и проведение<br> юбилейных мероприятий 
        p.template-screen__text.template-screen__item 
          span.d-none.d-sm-block Готовы обсудить ваши задачи и предоставить<br> концепт мероприятия под ключ за 24 часа!
          span.d-block.d-sm-none Концепт мероприятия за 24 часа!
        a(href="#modal-form" data-modal='open').button.button_style-1.template-screen__button.template-screen__item Свяжитесь с нами

  section.section.section_mb2.category-about-wrapper
    .background.lazyload.category-about-wrapper__bg(data-src='./img/iStock-613111906.jpg')
    section.section.about-text
      .container
        h2.about-text__title Юбилей компании
        .about-text__text
          p Важность этого события сложно переоценить: с одной стороны это подведение итогов, оценка результатов работы и обозначение нового курса. С другой – это важнейший элемент корпоративной культуры, сильнейший стимул консолидации и мотивации персонала.
          .hidden-text
            .hidden-text__wrapper
              .hidden-text__content
                p Юбилей затрагивает всех, кто связан с предприятием: руководство, сотрудников, партнеров и клиентов. И нередко это вызывает сложности в его организации. Как выстроить концепцию мероприятия, чтобы торжественная часть сочеталась с развлекательной? Как выгодно представить компанию официальным гостям? Как воодушевить сотрудников? Как правильно выбрать площадку и обеспечить высокий уровень ресторанного обслуживания? Мы ответим на все эти вопросы, разработаем детальную концепцию, решим технические задачи и проведем мероприятие от идеи до проводов гостей с площадки.
          a(href="javascript:void(0);").hidden-text-toggle 
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#double-arrow')
              

    include blocks/cases

  include blocks/organization

  include blocks/team

  include blocks/clients

  include blocks/contacts