extends layout/layout
block variables
  -var namespace = 'category'
  -var nav = true
block title
  title #{title} - Юбилей компании
block content

  section.section.category-screen
    .background-video(data-video-id='PfyXBk0Eh0U')
      .background.lazyload(data-src='./img/20191206-117.jpg')
      .background-video__wrap
        #bg-player.background-video__element
    .container.category-screen__container
      a(href="./index.html").back-to-button.category-screen__item
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#arrow-back')
        span Главная страница
      .category-screen__content
        h1.category-screen__title.category-screen__item Организация<br> и проведение юбилейных мероприятий
        p.category-screen__text.category-screen__item 
          span.d-none.d-sm-block Готовы обсудить ваши задачи и предоставить<br> концепт мероприятия под ключ за 24 часа!
          span.d-block.d-sm-none Концепт мероприятия за 24 часа!
        a(href="javasсript:void(0);").button.button_style-1.category-screen__button.category-screen__item Свяжитесь с нами
  
  section.section.section_mb2.category-about-wrapper
    .background.lazyload.category-about-wrapper_bg(data-src='./img/iStock-613111906.jpg')
    section.section.about-text
      .container
        h2.about-text__title Юбилей компании
        .about-text__text
          p Важность этого события сложно переоценить: с одной стороны это подведение итогов, оценка результатов работы и обозначение нового курса. С другой – это важнейший элемент корпоративной культуры, сильнейший стимул консолидации и мотивации персонала.
          .hidden-text
            .hidden-text__wrapper
              .hidden-text__content
                p Юбилей затрагивает всех, кто связан с предприятием: руководство, сотрудников, партнеров и клиентов. И нередко это вызывает сложности в его организации. Как выстроить концепцию мероприятия, чтобы торжественная часть сочеталась с развлекательной? Как выгодно представить компанию официальным гостям? Как воодушевить сотрудников? Как правильно выбрать площадку и обеспечить высокий уровень ресторанного обслуживания? Мы ответим на все эти вопросы, разработаем детальную концепцию, решим технические задачи и проведем мероприятие от идеи до проводов гостей с площадки.
          a(href="javascript:void(0);").hidden-text-toggle 
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#double-arrow')
              

    include blocks/cases

  include blocks/organization

  include blocks/team

  include blocks/clients

  include blocks/contacts