section.section.cases
  .container
    h2.section__title.cases__title Наши кейсы
    p.cases__sub-title Кликните по интересующему вас кейсу, чтобы узнать о нем подробнее.
    .cases-slider
      .cases-slider__slides
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='./img/bb78ce5394 4.jpg')
          h4.cases-slider__slide-title Организация мероприятия в честь 85-летия ПАО «НЛМК»: юбилейный выпуск чугуна
          span.cases-slider__slide-date Липецк, 7 ноября 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='./img/P9176537 copy.jpg')
          h4.cases-slider__slide-title Празднование 50-летнего юбилея группы компаний «Молвест» «Белое золото Черноземья»
          span.cases-slider__slide-date Воронеж, 6 декабря 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='https://static.tildacdn.com/tild3562-3464-4832-b432-336235626133/PC216250.JPG')
          h4.cases-slider__slide-title 10-летний юбилей компании «Агроэко»
          span.cases-slider__slide-date Воронеж, 23 декабря 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='https://static.tildacdn.com/tild6631-6538-4431-b036-383830346666/45f250096f92ee21bd12.jpg')
          h4.cases-slider__slide-title Торжественное мероприятие, посвященное 150-летию воронежского водопровода
          span.cases-slider__slide-date Воронеж, 15 ноября 2019

      .cases-slider__nav
        .row
          .col-xl-9
            .cases-slider__nav-slider
              .splide
                .splide__track
                  .splide__list
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='./img/bb78ce5394 4.jpg')
                        h6.cases-slider__nav-slide-title 85-летиe<br> ПАО «НЛМК»
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='./img/P9176537 copy.jpg')
                        h6.cases-slider__nav-slide-title 50-летие<br> ГК «Молвест»

                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='https://static.tildacdn.com/tild3562-3464-4832-b432-336235626133/PC216250.JPG')
                        h6.cases-slider__nav-slide-title 10-летний юбилей<br> компании «Агроэко»
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='https://static.tildacdn.com/tild6631-6538-4431-b036-383830346666/45f250096f92ee21bd12.jpg')
                        h6.cases-slider__nav-slide-title 150-летию<br> воронежского водопровода

          .col-xl-3.cases-slider__arrows
            a(href="javascript:void(0);").cases-slider__prev
              svg(viewBox='0 0 82 9' fill='currentColor').icon
                path(d='M0.297936 4.10005C0.102676 4.29531 0.102676 4.6119 0.297935 4.80716L3.47992 7.98914C3.67518 8.1844 3.99176 8.1844 4.18703 7.98914C4.38229 7.79388 4.38229 7.4773 4.18703 7.28203L1.3586 4.45361L4.18703 1.62518C4.38229 1.42992 4.38229 1.11333 4.18703 0.918073C3.99176 0.72281 3.67518 0.72281 3.47992 0.918073L0.297936 4.10005ZM81.3945 3.95361L0.651489 3.95361L0.651489 4.95361L81.3945 4.95361L81.3945 3.95361Z')

            a(href="javascript:void(0);").cases-slider__next
              svg(viewBox='0 0 29 9' fill='currentColor').icon
                path(d='M27.983 4.80717C28.1783 4.61191 28.1783 4.29532 27.983 4.10006L24.8011 0.918081C24.6058 0.722819 24.2892 0.722819 24.0939 0.918081C23.8987 1.11334 23.8987 1.42993 24.0939 1.62519L26.9224 4.45362L24.0939 7.28204C23.8987 7.4773 23.8987 7.79389 24.0939 7.98915C24.2892 8.18441 24.6058 8.18441 24.8011 7.98915L27.983 4.80717ZM0.816406 4.95361L27.6295 4.95362L27.6295 3.95362L0.816406 3.95361L0.816406 4.95361Z')

