section.section.cases
  .container
    h2.section__title.cases__title Наши кейсы
    p.cases__sub-title Кликните по интересующему вас кейсу, чтобы узнать о нем подробнее.
    .cases-slider
      .cases-slider__slides
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='./img/bb78ce5394 4.jpg')
          h4.cases-slider__slide-title Организация мероприятия в честь 85-летия ПАО «НЛМК»: юбилейный выпуск чугуна
          span.cases-slider__slide-date Липецк, 7 ноября 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='./img/P9176537 copy.jpg')
          h4.cases-slider__slide-title Празднование 50-летнего юбилея группы компаний «Молвест» «Белое золото Черноземья»
          span.cases-slider__slide-date Воронеж, 6 декабря 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='https://static.tildacdn.com/tild3562-3464-4832-b432-336235626133/PC216250.JPG')
          h4.cases-slider__slide-title 10-летний юбилей компании «Агроэко»
          span.cases-slider__slide-date Воронеж, 23 декабря 2019
        //slide
        a(href="./case.html").cases-slider__slide
          .background.lazyload(data-src='https://static.tildacdn.com/tild6631-6538-4431-b036-383830346666/45f250096f92ee21bd12.jpg')
          h4.cases-slider__slide-title Торжественное мероприятие, посвященное 150-летию воронежского водопровода
          span.cases-slider__slide-date Воронеж, 15 ноября 2019

      .cases-slider__nav
        .row
          .col-xl-9
            .cases-slider__nav-slider
              .splide
                .splide__track
                  .splide__list
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='./img/bb78ce5394 4.jpg')
                        h6.cases-slider__nav-slide-title 85-летиe<br> ПАО «НЛМК»
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='./img/P9176537 copy.jpg')
                        h6.cases-slider__nav-slide-title 50-летие<br> ГК «Молвест»

                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='https://static.tildacdn.com/tild3562-3464-4832-b432-336235626133/PC216250.JPG')
                        h6.cases-slider__nav-slide-title 10-летний юбилей<br> компании «Агроэко»
                    //navslide
                    .cases-slider__nav-slide.splide__slide
                      a(href="javascript:void(0);").cases-slider__nav-slide-container
                        .background.lazyload(data-src='https://static.tildacdn.com/tild6631-6538-4431-b036-383830346666/45f250096f92ee21bd12.jpg')
                        h6.cases-slider__nav-slide-title 150-летию<br> воронежского водопровода

          .col-xl-3.cases-slider__arrows
            a(href="javascript:void(0);").cases-slider__prev
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#arrow-right')

            a(href="javascript:void(0);").cases-slider__next
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#arrow-back')
