section.section.section_mt2.section_pt.section_pb.feedback#feedback(data-scroll-block data-dark)
  .container
    .feedback-block
      h2.section__title.feedback__title Планируете провести мероприятие?
      p.feedback-block__text Обсудим оптимальный для ваших задач формат и подготовим проект мероприятия за 24 часа.
      .feedback-block__buttons
        .row.grid
          .col-sm-6.grid__block
            a(href="#modal-form" data-modal='open').button.button_style-2 Написать нам
          .col-sm-6.grid__block
            a(href="tel:+79103433330").button.button_style-1 Позвонить нам
      p.feedback-block__message *Нажимая кнопку, вы даете свое согласие на обработку персональных данных в соответствии с законом №152-ФЗ и принимаете условия Соглашения на обработку персональных данных