section.section.contacts#contacts
  .container
    .contacts-block
      h2.section__title.contacts__title Планируете провести мероприятие?
      p.contacts-block__text Обсудим оптимальный для ваших задач формат и подготовим проект мероприятия за 24 часа.
      .contacts-block__buttons.row
        .col-md-6
          a(href="javascript:void(0);").button.button_style-2 Написать нам
        .col-md-6
          a(href="tel:+79103433330").button.button_style-1 Позвонить нам
      p.contacts-block__message *Нажимая кнопку, вы даете свое согласие на обработку персональных данных в соответствии с законом №152-ФЗ и принимаете условия Соглашения на обработку персональных данных
    h2.section__title.contacts__title Контакты
  iframe.contacts__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.484321767147!2d39.204330152726556!3d51.68324053420528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2edfcc5df27d%3A0xb9df49463d937534!2z0L_RgC4g0KLRgNGD0LTQsCwg0JLQvtGA0L7QvdC10LYsINCS0L7RgNC-0L3QtdC20YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sua!4v1601823416257!5m2!1sru!2sua')