footer.footer#footer(data-scroll-block data-dark)
  .footer__map
    //iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1237.436169187519!2d39.1985954!3d51.6621737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2f3118f502b7%3A0x85a07b631eefa457!2zRXZlbnQt0LDQs9C10L3RgtGB0YLQstC-INCf0LXRgNCy0YvQtSDQm9C40YbQsA!5e0!3m2!1sru!2sde!4v1602224905382!5m2!1sru!2sde')
  .footer__content
    .container.footer__container
      .footer__contacts
        h4.footer__contacts-title Контактная инфоромация
        ul.footer__contacts-list
          li Event-агентство «Первые Лица»
          li Россия, Воронеж
          li Плехановская улица, 9, оф. 308
          li 
            a(href="tel:+74732602367") +7 (473) 2602367
          li 
            a(href="tel:+79103433330") +7 (910) 3433330
          li 
            a(href="mailto:info@1faces.com") info@1faces.com
          li ©Event-агентство «Первые Лица» 2020
      .footer-socials
        ul.footer-socials__list
          li.footer-socials__item
            a(href="https://vk.com/1facesvrn" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#vk')
          li.footer-socials__item
            a(href="https://www.facebook.com/1facesvrn" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#facebook')
          li.footer-socials__item
            a(href="https://www.youtube.com/channel/UCfUhPGTkoNZ6mqAAwUyyq9w?view_as=subscriber" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#youtube')
          li.footer-socials__item
            a(href="https://www.instagram.com/viktorslastenko/" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#insta')