footer.footer#footer(data-scroll-block data-dark)
  .footer__map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.484321767147!2d39.204330152726556!3d51.68324053420528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2edfcc5df27d%3A0xb9df49463d937534!2z0L_RgC4g0KLRgNGD0LTQsCwg0JLQvtGA0L7QvdC10LYsINCS0L7RgNC-0L3QtdC20YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sua!4v1601823416257!5m2!1sru!2sua')
  .footer__content
    .container.footer__container
      .footer__contacts
        h4.footer__contacts-title Контактная инфоромация
        ul.footer__contacts-list
          li Event-агентство «Первые Лица»
          li Россия, Воронеж
          li Плехановская улица, 9, оф. 308
          li 
            a(href="tel:+74732602367") +7 (473) 2602367
          li 
            a(href="tel:+79103433330") +7 (910) 3433330
          li info@1faces.com
          li ©Event-агентство «Первые Лица» 2020
      .footer-socials
        ul.footer-socials__list
          li.footer-socials__item
            a(href="https://vk.com/1facesvrn" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#vk')
          li.footer-socials__item
            a(href="https://www.facebook.com/1facesvrn" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#facebook')
          li.footer-socials__item
            a(href="https://www.youtube.com/channel/UCfUhPGTkoNZ6mqAAwUyyq9w?view_as=subscriber" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#youtube')
          li.footer-socials__item
            a(href="https://www.instagram.com/viktorslastenko/" rel='noffolow' target='_blank').footer-socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#insta')