footer.footer
  .container.footer__container
    .footer__contacts
      h4.footer__contacts-title Контактная инфоромация
      ul.footer__contacts-list
        li Event-агентство «Первые Лица»
        li Россия, Воронеж
        li Плехановская улица, 9, оф. 308
        li 
          a(href="tel:+74732602367") +7 (473) 2602367
        li 
          a(href="tel:+79103433330") +7 (910) 3433330
        li info@1faces.com
        li ©Event-агентство «Первые Лица» 2020
    .footer-socials
      ul.footer-socials__list
        li.footer-socials__item
          a(href="#").footer-socials__link
            svg.icon
              use(xlink:href='./img/icons/socials-sprite.svg#vk')
        li.footer-socials__item
          a(href="#").footer-socials__link
            svg.icon
              use(xlink:href='./img/icons/socials-sprite.svg#facebook')
        li.footer-socials__item
          a(href="#").footer-socials__link
            svg.icon
              use(xlink:href='./img/icons/socials-sprite.svg#youtube')
        li.footer-socials__item
          a(href="#").footer-socials__link
            svg.icon
              use(xlink:href='./img/icons/socials-sprite.svg#insta')