header.header(class=namespace=='home'?'header_type-home':'')
  .container.header__container  
    .logo.header__logo
      a(href="./index.html").logo__link
        img(src="./img/logos/main_logo.svg", alt="logo").logo__image
    .header__items
      a.header__phone(href='tel:+74732602367') 
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#phone')
        | +7 (473) 260-23-67
      a(href="javascript:void(0);").nav-toggle 
        span
        span
        span