nav.nav(data-scroll-lock-scrollable data-scroll-lock-fill-gap)
  .container.nav__container
    .nav__content
      .nav__info
        ul.nav__contacts-list
          li.d-none.d-lg-block Event-агентство «Первые Лица»
          li Россия, Воронеж
          li Плехановская улица, 9, оф. 308
          li 
            a(href="tel:+74732602367") +7 (473) 2602367
          li 
            a(href="tel:+79103433330") +7 (910) 3433330
          li 
            a(href="mailto:info@1faces.com") info@1faces.com
          li © Event-агентство «Первые Лица» 2020

        .socials.nav__socials
          ul.socials__list
            li.socials__item
              a(href="https://vk.com/1facesvrn" rel='noffolow' target='_blank').socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#vk')
            li.socials__item
              a(href="https://www.facebook.com/1facesvrn" rel='noffolow' target='_blank').socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#facebook')
            li.socials__item
              a(href="https://www.youtube.com/channel/UCfUhPGTkoNZ6mqAAwUyyq9w?view_as=subscriber" rel='noffolow' target='_blank').socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#youtube')
            li.socials__item
              a(href="https://www.instagram.com/1faces.event/" rel='noffolow' target='_blank').socials__link
                svg.icon
                  use(xlink:href='./img/icons/socials-sprite.svg#insta')
      .nav__right
        img.nav__logo(src="./img/logos/logo.svg", alt="logo")
        span.nav__line
        ul.nav__list
          li.nav__item 
            a(href="./service.html").nav__link Мероприятия для АПК
          li.nav__item 
            a(href="./service.html").nav__link.active Юбилей компании
          li.nav__item 
            a(href="./service.html").nav__link Торжественные открытия
          li.nav__item 
            a(href="./service.html").nav__link Онлайн мероприятия