section.section.organization#organization(data-scroll-block)
  .container
    h3.section__title.organization__title Берем на себя все<br> организационные задачи:
    .organization__container.row.justify-content-center
      .col-xl-10.col-lg-12.col-md-10
        .organization-block.row 
          .col-lg-6.order-lg-2
            .organization-block__content
              .organization-block__item
                h3.organization-block__item-title.jsTouchHover Концепция 
                .organization-block__item-content
                  p.organization-block__item-text Разработаем концепцию и напишем<br> подробный сценарий мероприятия<br> в соответствии с вашими задачами.
              .organization-block__item
                h3.organization-block__item-title.jsTouchHover Площадка
                .organization-block__item-content 
                  p.organization-block__item-text Подберем и зарезервируем площадку,<br> обеспечим полное техническое оснащение,<br> оформление и брендирование.
              .organization-block__item
                h3.organization-block__item-title.jsTouchHover Кейтеринг
                .organization-block__item-content
                  p.organization-block__item-text Организуем профессиональное<br> ресторанное обслуживание, банкеты<br> и фуршеты на любой площадке.
              .organization-block__item
                h3.organization-block__item-title.jsTouchHover Протокол и СМИ 
                .organization-block__item-content
                  p.organization-block__item-text Обеспечим комфортное присутствие первых<br> лиц, делегаций и прессы, проведем<br> мероприятие с соблюдением протокола.
          .col-lg-6.order-lg-1
            .organization-block__images
              svg(viewBox='0 0 608 608' fill='none' stroke='currentColor').organization-block__loader
                path(d='M607.5 607.5L0.499973 607.5L0.5 0.499973L348.846 0.499989L607.5 0.5L607.5 607.5Z')
              .organization-block__images-content
                .organization-block__image.image.image_contain
                  img(data-src="./img/service1.png", alt="service").lazyload
                .organization-block__image.image.image_contain
                  img(data-src="./img/service2.png", alt="service").lazyload
                .organization-block__image.image.image_contain
                  img(data-src="./img/service3.png", alt="service").lazyload
                .organization-block__image.image.image_contain
                  img(data-src="./img/service4.png", alt="service").lazyload
          