section.section.services#services(data-scroll-block)
  .container
    h2.section__title Наши услуги
  .services__container
    .container
      .row.justify-content-center
        .col-xl-5.col-lg-8.col-md-10
          .row.grid
            //block
            .services-block.col-6.grid__block
              .services-block__container.jsTouchHover
                .services-block__front.jsTouchHover
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#ico-service1')
                  h5.services-block__front-title Мероприятия<br> для АПК
                .services-block__back
                  .services-block__back-content
                    a(href="javascript:void(0);").services-block__close
                    .services-block__back-top
                      h4.services-block__back-title Мероприятия для АПК
                      p.services-block__back-text Организация мероприятий формата «День поля» и событий для агропромышленного комплекса (АПК)
                    .services-block__back-bottom
                      a(href="./service.html").button.button_style-2 Подробности
                      a(href='tel:+74732602367').button.button_style-1 Позвонить нам

            //block
            .services-block.col-6.grid__block
              .services-block__container.jsTouchHover
                .services-block__front.jsTouchHover
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#ico-star')
                  h5.services-block__front-title Юбилей<br> компании
                .services-block__back
                  .services-block__back-content
                    a(href="javascript:void(0);").services-block__close
                    .services-block__back-top
                      h4.services-block__back-title Юбилей компании
                      p.services-block__back-text Организация и проведение юбилейных мероприятий и торжественных открытий
                    .services-block__back-bottom
                      a(href="./service.html").button.button_style-2 Подробности
                      a(href='tel:+74732602367').button.button_style-1 Позвонить нам
            
            //block
            .services-block.col-6.grid__block
              .services-block__container.jsTouchHover
                .services-block__front.jsTouchHover
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#ico-service3')
                  h5.services-block__front-title Онлайн<br> мероприятия
                .services-block__back
                  .services-block__back-content
                    a(href="javascript:void(0);").services-block__close
                    .services-block__back-top
                      h4.services-block__back-title Онлайн мероприятия
                      p.services-block__back-text Уникальное онлайн-мероприятие для ваших коллег, партнеров и клиентов
                    .services-block__back-bottom
                      a(href="./service.html").button.button_style-2 Подробности
                      a(href='tel:+74732602367').button.button_style-1 Позвонить нам
            
            //block
            .services-block.col-6.grid__block
              .services-block__container.jsTouchHover
                .services-block__front.jsTouchHover
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#ico-service4')
                  h5.services-block__front-title Торжественные<br> открытия
                .services-block__back
                  .services-block__back-content
                    a(href="javascript:void(0);").services-block__close
                    .services-block__back-top
                      h4.services-block__back-title Торжественные открытия
                      p.services-block__back-text Тонкости организации мероприятий с участием иностранных делегаций и представителей власти
                    .services-block__back-bottom
                      a(href="./service.html").button.button_style-2 Подробности
                      a(href='tel:+74732602367').button.button_style-1 Позвонить нам

